body{
    height: 100vh;
}

img{
    width: 100%;
    display: block;
}
.carousel,.carousel-item,.slider-container{
    height: 100%;
}

.slider-container{
    flex-grow: 1;
    overflow: auto;
}

.carousel{

}

.slider-img{
    height: 100%;
    position: relative;
    /* right: 241px; */
    aspect-ratio: 12/9;
    object-fit: cover;
    flex-grow: 1;
    overflow: auto;
    display: none;
}

.carousel-caption{
    display: none;
}

.active-element{
    display: block;
}

.btn{  
    flex-basis: 50px;
    flex-shrink: 0;
    position: fixed;
    --bs-btn-border-radius: 50%;
    z-index: 3;
}

.next{
    bottom: 1rem;
    right: 50%;
}

.prev{
    top: 1rem;
    right: 50%;
}


.side-container img{
    vertical-align: middle;
    width: 30vh;
    flex-shrink: 0;
    height: calc(100% / 5);
    object-fit: cover;
}

